@import "react-loading-skeleton/dist/skeleton.css";
@import "react-toastify/dist/ReactToastify.css";
@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content {
    @apply w-[calc(100%-40px)];
    @apply md:w-[calc(100%-2*theme(spacing.pageSide))];
    @apply max-w-[1240px];
  }
}

:root {
  --foreground-rgb: theme(colors.black);
  --background-rgb: theme(colors.white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: theme(colors.white);
    --background-rgb: theme(colors.neutral.900);
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@keyframes fadeInWithGoUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.search-bar-animation {
  animation: fadeInWithGoUp 0.5s cubic-bezier(0, 0.51, 0.38, 1);
}

html {
  scroll-behavior: smooth;
}