:root {
  --primary: #ff4500;
  --secondary: #ffeaea;
  --text: #252525;
  --secondaryText: #959595;
  --white: #ffffff;
  --deselected: #d6d6d6;
  --grey: #b3b3b3;
  --greyDark: #6e6e73;
  --greyBorder: #d6d6d6;
  --greyLight: #f5f5f7;
}