

.wrapper {
  display: inline-flex;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  position: relative;
  border-radius: 11px;
  background-color: var(--grey);
  width: 40px;
  height: 22px;

  display: inline-flex;
  align-items: center;
}

.checkbox::before {
  content: "";
  position: absolute;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  transition: left 150ms linear;
}

.checkbox:checked::before {
  background-color: white;
  left: 20px;
}

.checkbox:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.checkbox:disabled {
  border-color: var(--greyBorder);
  opacity: 0.7;
  cursor: not-allowed;
}

.checkbox:disabled:before {
  background-color: var(--greyBorder);
}

.checkbox:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

.checkbox:enabled:hover {
  box-shadow: 0 0 0 max(2px, 1px) var(--greyBorder);
}