@font-face {
    font-family: 'Aharoni-Bold', sans-serif;
    src: url("./assets/fonts/Aharoni-Bold.ttf") format(".ttf");
    font-weight: 700;
}

* {
    ::-moz-selection { /* Code for Firefox */
        color: red;
        background: yellow;
      }
      
      ::selection {
        color: red;
        background: yellow;
      }
}