@import 'react-loading-skeleton/dist/skeleton.css';
@import './variables.css';
@import 'tailwindcss';

@theme {
  --spacing-pageSide: 20vw;

  --color-primary: #ff4500;
  --color-secondary: #fff4f0;
  --color-text: #252525;
  --color-secondaryText: #959595;
  --color-white: #ffffff;
  --color-deselected: #d6d6d6;
  --color-grey: #b3b3b3;
  --color-greyDark: #6e6e73;
  --color-greyBorder: #d6d6d6;
  --color-greyLight: #f5f5f7;

  --color-dark_dark: #252525;
  --color-dark_greyDark: #3b3b3b;
  --color-dark_greyBorder: #5d5d5d;
  --color-dark_grey: #919191;
  --color-dark_white: #ffffff;
  --color-dark_secondary: #432b22;

  @keyframes fadeInWithGoUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@layer components {
  .content {
    @apply w-[calc(100%-40px)];
    @apply md:w-[calc(100%-2*(var(--spacing-pageSide)))];
    @apply max-w-[1240px];
  }

  .search-bar-animation {
    animation: fadeInWithGoUp 0.5s cubic-bezier(0, 0.51, 0.38, 1);
  }
}

:root {
  --transition-duration: 200ms;
}

body {
  color: var(--text);
  background: var(--white);

  transition:
    background-color var(--transition-duration) ease,
    color var(--transition-duration) ease;
}

html {
  scroll-behavior: smooth;
}
