:root {
  --primary: #ff4500; /* Should be same as primary at ./const.ts */
  --secondary: #fff4f0;
  --text: #252525;
  --secondaryText: #959595;
  --white: #ffffff;
  --deselected: #d6d6d6;
  --grey: #b3b3b3;
  --greyDark: #6e6e73;
  --greyBorder: #d6d6d6;
  --greyLight: #f5f5f7;

  --dark_dark: #252525;
  --dark_greyDark: #3b3b3b;
  --dark_greyBorder: #5d5d5d;
  --dark_grey: #919191;
  --dark_white: #ffffff;
  --dark_secondary: #432b22;
}

/* Dark mode variables. These are just for convenience. Overwrite them when that's proper. No accurate 1:1 mapping exist. */
:root[data-theme='dark'] {
  --color-text: var(--dark_white);
  --color-white: var(--dark_dark);
  --color-greyLight: var(--dark_greyDark);
  --color-greyDark: var(--dark_grey);
  --color-secondary: var(--dark_secondary);
}
