.segmented {
  display: inline-flex;
  cursor: pointer;
  border-radius: 11px;
  background-color: var(--grey);
  overflow: hidden;
}

.segmented button {
  appearance: none;
  border: none;
  background: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 150ms linear;
  flex: 1;
  text-align: center;
  white-space: nowrap;
}

.segmented button:not(:last-child) {
  border-right: 1px solid var(--greyBorder);
}

.segmented button.selected {
  background-color: var(--primary);
  color: white;
}

.segmented button:enabled:hover {
  background-color: var(--greyBorder);
}

/* Dark mode styles */
:root.dark .segmented {
  background-color: var(--darkGrey);
}

:root.dark .segmented button:not(:last-child) {
  border-right: 1px solid var(--darkGreyBorder);
}

:root.dark .segmented button.selected {
  background-color: var(--darkPrimary);
}

:root.dark .segmented button:enabled:hover {
  background-color: rgba(var(--darkPrimaryRGB), 0.1);
}